# Ignore model outputs
models/
*.pkl
*.joblib
*.h5
*.onnx
*.tflite
*.json
*.log

# Ignore virtual environments
.venv/
.env/

# Ignore system files
.DS_Store

# Ignore Jupyter/IPython checkpoints
.ipynb_checkpoints/data/
.DS_Store
data/
